/* Cards estilos CSS */

/* Paleta de colores:
    -
    -
    -
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #F5FCFA;

}

/* --------------------------------------------- */
/* Header bar styles */
#header-bar {
    background-color: #DEF5EF;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

#header-bar #hdr-title {
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

#header-bar #hdr-title:hover {
    color: #216854;
    transform: scale(1.1);
}


section {
    background-color: #F5FCFA;
}


/* --------------------------------------------- */
/* Contents styles */
#disp-6, #disp-1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    color: #216854;
}

#front-img {
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}

#main-img img {
    width: 80%;
}

#front-img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

#plan-btns button {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

#plans form {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

#plans #rutinas {
    padding: 10px;
    padding-right: 50%;
    border-radius: 10px;
    border-color: 50% black;
}

#break-gap {
    margin: 10%;
}

#side-img img {
    width: 75%;
}

#exercises form {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

#exercises #ejercicios, #list {
    padding: 10px;
    padding-right: 50%;
    border-radius: 10px;
    border-width: thin;
}

#exercises #list {
    width: 100%;
}

#lista-ejercicios {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

#card-img {
    border-radius: 10px;
}


/* --------------------------------------------- */
/* Video styles */
.pb-3 iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* --------------------------------------------- */
/* Chronometre styles */
#seguimiento, #crono {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
		



/* --------------------------------------------- */
/* Footer bar styles */
#footer-bar {
    background-color: #1B5A50;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

#footer-bar #ftr-title {
    cursor: pointer;
    transition: all 0.2s ease 0s;
}